/*!
 * Start Bootstrap - Modern Business (https://startbootstrap.com/template-overviews/modern-business)
 * Copyright 2013-2017 Start Bootstrap
 * Licensed under MIT (https://github.com/BlackrockDigital/startbootstrap-logomodern-business-nav/blob/master/LICENSE)
 */
@import url("https://fonts.googleapis.com/css?family=Montserrat&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates&display=swap');

body {
  padding-top: 54px;
  font-family: "Montserrat", sans-serif;
}

@media (min-width: 992px) {
  body {
    padding-top: 56px;
  }
}

.carousel-item {
  min-height: 250px;
  background-position-y: bottom;
  background-position-x: center;
  background-repeat: no-repeat;
  -webkit-background-size: auto;
  -moz-background-size: auto;
  -o-background-size: auto;
  background-size: auto;
}

.carousel-caption {
    padding-bottom: 0;
}

.carousel-caption h3 {
    font-size: 1.3rem;
}

.carousel-caption p {
    font-size: 0.9rem;
}

.portfolio-item {
  margin-bottom: 30px;
}

h1,
h2,
h3,
h4 {
  font-family: "Raleway", sans-serif !important;
}
h1 {
  font-size: 2rem;
}

h4 {
  font-size: 1.2rem;
}
h1,
h2 {
  margin-top: 20px;
}
.card-header {
  background-color: rgba(0, 123, 255, 0.74);
  color: aliceblue;
}
.chatbox {
  background-color: rgb(0, 0, 0);
  padding: 20px;
  color: beige;
  font-family: "Raleway", sans-serif !important;
}
.card-header a {
  color: beige;
}
.anchorhead {
  margin-top: 50px;
}
.train_details li span {
  font-size: 20px;
  color: #a73737;
}

.cal-date,
.cal-details {
  margin-bottom: 50px;
}

.cal-date {
  border-bottom: #b4b4b4 solid 1px;
}
.cal-date div {
  font-size: 20px;
  color: #a73737;
}

.cal-date p {
  font-size: 15px;
}

.cal-details {
  border-bottom: #000000 solid 2px;
  background-color: #ffffff;
  padding-left: 10px;
}

.cal-details ul {
  list-style-type: none;
  font-size: 16px;
  padding-left: 5px;
}

.cal-details div {
  font-size: 16px;
}
.card-img-top {
  border-radius: 0;
}
.soc-icon {
  font-size: 50px;
}
.soc-icon span {
  margin: 10px;
}
.cost_div {
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 0;
  padding-bottom: 0;
}
#cost_pay {
  font-size: 20px;
}
.portfolio-item .card-footer {
  font-size: 20px;
  color: #ff4242;
  font-family: "Raleway", sans-serif !important;
  font-weight: bold;
}
.training_check {
  transform: scale(2);
  float: left;
  margin: 8px;
}
.inframe {
  width: 100%;
  height: 500px;
}
.stories .card-body {
  font-size: 13px;
  font-family: "Raleway", sans-serif !important;
}
.story {
  font-size: 14px;
  font-family: "Montserrat Alternates","Raleway", sans-serif !important;
  padding:10px;
}
.storyspan {
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 10px;
  padding-right: 10px;
  background-color: #000000;
  color: darkorange;
  font-size: 11px;
  font-weight: bold;
}
.hidlist {
  list-style: none;
  font-family: "Raleway", sans-serif !important;
  color: #000000;
}
.hidlist div {
  font-size: 14px;
  line-height: 24px;
  text-align: justify;
  padding-left: 10;
}
.hidlist li {
  font-size: 16px;
  line-height: 30px;
  padding-left: 0;
}
.hidlist li ul li {
  font-size: 13px;
  font-family: "Raleway", sans-serif !important;
  font-weight: bold;
  line-height: 20px;
  padding-left: 0;
}
.hidlist li i,
.hidlist div i {
  margin-right: 5px;
  color: #ff0000;
}
.firstp {
  font-size: 16px;
  padding: 10px;
  text-align: justify;
  color: rgb(66, 66, 66);
  font-family: "Raleway", sans-serif !important;
}
.firstp img {
  float: right;
}
.display-4 {
  font-size: 3rem;
}
.benefits {
  text-align: center;
}
blockquote {
  display: block;
  margin-top: 1em;
  margin-bottom: 1em;
  margin-left: 40px;
  margin-right: 40px;
}

.inner_img {
  width: 160px;
  float: left;
  margin-right: 10px;
  margin-top: 5px;
  margin-bottom: 15px;
}
