body {
    font-family: Tahoma, Verdana, Geneva, sans-serif;
    font-size: 16px;
    margin: 0;
}
.header, .footer {
    background-color: rgb(24, 89, 150);
    margin-top: 20px;
    margin-bottom: 20px;
    color: #FFFFFF;
    padding-left: 10px;
    padding-right: 10px;
}
.top{
    background-color: #FFFFFF;
    padding: 5px;
}
.titl {
    width: 200px;
    float: left;
    font-size: 14px;
    font-weight: bold;
    color: rgb(24, 89, 150);
}
.nav {
    width: 50px;
    float: right;
    font-size: 12px;
    padding: 4px;
}
div {
    padding-top: 7px;
    padding-bottom: 7px;
}